header {
  align-items: center;
  background: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
  @include respond-to(tablet) {
    height: Rem(138px);
  }
  .logo {
    width: Rem(290px);
    height: Rem(68px);
    img {
      width: 100%;
    }
  }
}
